/* Change images to higher res versions, if screen resolution is greater than 1 pixel density, such as Retina on Apple devices. */
@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) { 

.navclosed {
	background-image: url(../fair_images/nav2x.png);
	background-repeat: no-repeat;
	background-position: left top;	
	background-size:40px;
	-moz-background-size:40px;
}
.navclicked {
	background-image: url(../fair_images/nav2x.png);
	background-repeat: no-repeat;
	background-position: left -40px;
	background-size:40px;
	-moz-background-size:40px;
}
ul.navig li a.dropdown,
ul.navig li a.dropdown:hover,
ul.navig li:hover a.dropdown
{
	background-image: url(../fair_images/navgrey2x.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size:40px;
	-moz-background-size:40px;
}

}

