@charset "utf-8";
/* CSS Document */
html {
    font-family: "Montserrat", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0;
	font-family: "Montserrat", sans-serif;
}
body, input, textarea {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	color: #333333;
	text-align:left;
}
a.ulink {
	font-size: 14px;
	color: #ef4a5a;
	text-decoration: none;
}
a:hover.ulink, a:focus.ulink {
	font-size: 14px
	color: #000000;
	text-decoration: none;
}
span.ulhd {
	font-size: 15px;
	color: #333333;
}
.kc-rendering {
    /*kc.rendering function in kc.js needs positioning context*/
    position:relative;
}
.kc-inline-block {
    display: inline-block;
}
.kc-invisible {
    visibility: hidden;
}
.kc-busy-cursor { 
    cursor: wait
}
.kc-transfer-effect {
    border: 2px dotted black;
}
.kc-in-front-of-navbar.ui-front,
.kc-in-front-of-navbar {
    z-index:1000
}
.kc-no-close-dialog .ui-dialog-titlebar-close {
display: none;
}
input.kc-invalid-input,
.kc-invalid-input,
.invalid-input {
    outline: 1px solid red !important
}
.GroupName {
	width: 300px;
}
#navbar {
    height: 70px; /* in case we have no nav items, keep the height */
}
#content {
/*    margin-bottom: 100px; not the right way to go... took the align="left"
                            off the "Please note" table in events.html
                            instead (that is implemented via a float, which
                            excludes the table from the containing div
                            height calculation)  */
}
.shell {
    margin: 0 auto;
    position: relative;
    width: 940px;
}
.loginshell {
    margin: 0 auto;
    position: relative;
    width: 300px;
}
select {
	font-family: "Montserrat",sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align:left;
	background: #264452;
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    line-height: normal !important;
    margin: 0;
    overflow: -moz-hidden-unscrollable;
    page-break-inside: avoid;
    text-align: start;
    text-indent: 0;
    text-shadow: none;
    white-space: nowrap !important;
    word-wrap: normal !important;
}
:-moz-any-link {
    cursor: pointer;
}
TD {
	font-family: "Montserrat",sans-serif;
	font-size: 12px;
	color: #333333;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	text-align:left;
}
TD.calhdc {
	font-family: "Montserrat",sans-serif;
    font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	background: #264452;
	vertical-align: middle;
	text-align: center;
	padding: 13px 0 12px;
	height: 15px;
	width: 14.285%;
}
TD.jobhd {
	font-family: "Montserrat",sans-serif;
    font-weight: 400;
	font-size: 12px;
	color: #ffffff;
	background: #365566;
	vertical-align: middle;
	text-align: center;
	padding: 8px 10px 7px;
	height: 13px;
}
TD.calteal {
	font-family: "Montserrat",sans-serif;
	font-size: 14px;
	color: #333333;
	background: #1CCDDF;
	vertical-align: middle;
	text-align: center;
	height: 15px;
	width: 120px;
}
TD.callime {
	font-family: "Montserrat",sans-serif;
	font-size: 14px;
	color: #333333;
	background: #B9CC23;
	vertical-align: middle;
	text-align: center;
	height: 15px;
	width: 120px;
}
TD.cal {
	font-family: "Montserrat",sans-serif;
	font-size: 10px;
	color: #333333;
	background: #FFFFFF;
	vertical-align: top;
	height: 30px;
	padding: 0px;
}
TD.calopt {
	color: #FFFFFF;
	background: #365566;
	height: 60px;
	padding: 0px;
	vertical-align: middle;
}
TD.note {
	height: 10px !important;
}
TD.day {
	font-family: "Montserrat",sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #DDDDDD;
	vertical-align: top;
	height: 100px;
	padding: 4px;
}
TD.day.mon-wed {
	font-family: "Montserrat",sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #fee1ba;
	border: 1px solid #FFFFFF;
	vertical-align: top;
	height: 100px;
	padding: 4px;
}
TD.day.wed-fri {
	font-family: "Montserrat",sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #a2c523;
	vertical-align: top;
	height: 100px;
	padding: 4px;
}
TD.day.public-holiday, 
TD.day.mon-wed.public-holiday, 
TD.day.wed-fri.public-holiday {
	background-color: black;
	color:white;
	font-size: 14px;
	text-align:center;
}
TD.day.public-holiday a, 
TD.day.mon-wed.public-holiday a, 
TD.day.wed-fri.public-holiday a {
	color:white;
}
TD.day.mon-wed.other-month,
TD.day.wed-fri.other-month,
TD.day.other-month {
	background-color: #eeeeee;
}
span.day {
  float: right;
}
div.event {
	font-size: 12px;
	text-align:center;
	color: #2b5caa;
}
div.twyc {
	font-size: 12px;
	text-align:left;
	color: #2b5caa;
}
a.event-link {
	color: #2b5caa;
	text-decoration: none;
}
a:hover.event-link {
	color: #f45b4d;
	text-decoration: none;
}
a.twyc-link {
	color: #ef4a5a;
	text-decoration: none;
}
a:hover.twyc-link {
	color: #f45b4d;
	text-decoration: none;
}
a.staff-only {
    color: #DD017F;
	font-size: 16px;
}
a:hover.staff-only {
    color: #000000;
	font-size: 16px;
}
div.events-toolbar {
    text-align:right;
}
a.add-staff {
	background: #388fe0 none repeat scroll 0 0;
    border: 1px solid #388fe0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    display: inline-block;
    line-height: 35px;
    margin: 0 10px 0 0;
    padding: 0 15px;
 	transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
}
a:hover.add-staff {
	background: #000000 none repeat scroll 0 0;
    border: 1px solid #000000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    display: inline-block;
    line-height: 35px;
    margin: 0 10px 0 0;
    padding: 0 15px;
 	transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
}
.select-your-group-button {
	margin-bottom: 5px;
}
.ui-widget-content a.select-your-group,
a.select-your-group {
    background: #388fe0 none repeat scroll 0 0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    display: inline-block;
    line-height: 35px;
    margin: 0 10px 0 0;
    padding: 0 15px;
 	transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 110%;
    min-width: 150px;
    text-align: center;
}
a:hover.select-your-group {
    background: #000000 none repeat scroll 0 0;
    border: 1px solid #000000;
    color: #fff;
    border: 1px solid #fff;
	font-size: 110%;
}
.toolbar-item.select-your-group {
    float: left;
}
.hdmth	{
	font-size: 20px;
}
span.hdmth {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: 3px;
}
.week-label	{
	font-size: 13px;
	color: #996699;
}
.Groupselect {
	background: #eeeeee none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0 0 12px;
    padding: 8px 10px 9px 12px;
	font-size: 10px;
	color: #333333;
}
.roster-jobs-toolbar > * {
    display: inline-block;
    margin: 0 10px;
	color: #ffffff;
}
.ui-widget-content a.roster-jobs-toolbar-button,
a.roster-jobs-toolbar-button {
    display: inline-block;

    background: #81c344 none repeat scroll 0 0;
    color: #ffffff;

    border-radius: 20px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
    min-width: 150px;
    text-align: center;
}
a:hover.roster-jobs-toolbar-button {
    background: #000000 none repeat scroll 0 0;
    color: #fff;

    border-radius: 20px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
    min-width: 150px;
    text-align: center;
}
a.roster-jobs-toolbar-button.select-your-group {
    display: inline-block;
    background: #81c344 none repeat scroll 0 0;
	color: #ffffff;
    border-radius: 20px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 110%;
    min-width: 150px;
    text-align: center;
}
a:hover.roster-jobs-toolbar-button.select-your-group {
    background: #000000 none repeat scroll 0 0;
    color: #fff;
    border-radius: 20px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 110%;
    min-width: 150px;
    text-align: center;
}
.roster-jobs-group-select {
    background: #264452 none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    margin: 0 20px 0 12px;
    padding: 8px 10px 9px 12px;
    font-size: 10px;
    color: #FFFFFF;
}
.roster-jobs-group-select-class {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    margin: 0 20px 0 12px;
    padding: 8px 10px 9px 12px;
    font-size: 10px;
    color: #333333;
}
.edit-roster-job-field-label {
    display: block;
    margin-top: 20px;
}
div.edit-roster-job-form-buttons {
    margin-top: 50px;
}
.Jobs {
	text-align: center;
	margin: 0 0 0 12px;
}
TD.job {
	font-size: 12px;
	color: #333333;
	text-align: left;
	padding: 8px 10px 7px;
	margin: 0 0 0 12px;
	background: #eeeeee none repeat scroll 0 0;
}
TD.jobc {
	font-size: 12px;
	color: #333333;
	text-align: center;
	padding: 8px 10px 7px;
	margin: 0 0 0 12px;
	background: #eeeeee none repeat scroll 0 0;
}
.mdate {
    font-size: 20px;
	color: #00a7e7;
	text-align: left;
	padding: 8px 10px 7px 0px;
	letter-spacing: 1.2px;
}
.mname {
	font-size: 14px;
	color: #666666;
	text-align: left;
}
h1.event-name {
	font-size: 20px;
	color: #333333;
	text-align: left;
	padding: 8px 10px 7px 0px;
	margin-top: 2px;
}
h1.maintenance-day-name {
	font-size: 20px;
	color: #333333;
	text-align: left;
	padding: 8px 10px 7px 0px;
	margin-top: 2px;
}
.vol {
	font-family: "Lato",Helvetica,Arial,sans-serif;
	font-size: 17px;
	color: #00a7e7;
	text-align: left;
	line-height: 1.42857;
	text-align: left;
	margin: 10px 0 10px;
}
div.volunteers {
	border-top: 1px solid #00a7e7;
	padding: 8px 10px 7px 0px;
}
h3.roster {
	border-top: 1px solid #00a7e7;
	padding: 8px 10px 7px 0px;
}
a.job {
	background: #41ad48 none repeat scroll 0 0;
    border: 1px solid #41ad48;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    line-height: 22px;
    margin: 0 5px 0 0;
    padding: 0 10px;
 	transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
}
a:hover.job {
	background: #000000 none repeat scroll 0 0;
    border: 1px solid #000000;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    line-height: 22px;
    margin: 0 5px 0 0;
    padding: 0 10px;
 	transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
}
input[type="submit"].job {
	background: #41ad48 none repeat scroll 0 0;
    border: 1px solid #41ad48;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    line-height: 22px;
    margin: 0 5px 0 0;
    padding: 0 10px;
 	transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
	box-shadow:none;
}
input[type="submit"]:hover.job {
	background: #333333 none repeat scroll 0 0;
    border: 1px solid #333333;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    line-height: 22px;
    margin: 0 5px 0 0;
    padding: 0 10px;
 	transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
	box-shadow: none;
}		
input[type="submit"].del {
	background: #666666 none repeat scroll 0 0;
    border: 1px solid #666666;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    line-height: 22px;
    margin: 0 5px 0 0;
    padding: 0 10px;
 	transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
	box-shadow:none;
}
input[type="submit"]:hover.del {
	background: #000000 none repeat scroll 0 0;
    border: 1px solid #000000;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    line-height: 22px;
    margin: 0 5px 0 0;
    padding: 0 10px;
 	transition: all 0.1s ease-out 0s;
    text-decoration: none;
    font-size: 100%;
	box-shadow: none;
}		
.login {
	background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #41ad48;
    color: #333333;
    border-radius: 20px;
	text-align: center;
	width: 220px;
    margin: 0 10px 0 0;
    padding: 0 15px 15px;
    font-size: 100%;
}
.loginput {
    color: #333333;
	text-align: left;
	width: 150px;
	margin: auto;
}
.login_failed {
	font-size: 11px;
	color: #ff0000;
	text-align: left;
}
.groups {
	font-size: 11px;
	color: #666666;
	text-align: left;
}
.grouplst {
	font-size: 11px;
	color: #FFFFFF;
	text-align: left;
}
.adm {
	font-size: 14px;
	color: #666666;
	text-align: left;
}
a.adm {
	font-size: 14px;
	color: #ef4a5a;
	text-decoration: none;
	line-height: 22px;
}
a:hover.adm, a:focus.adm {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	line-height: 22px;
}
.admgrn {
	font-size: 12px;
	color: #41ad48;
}
.admblu {
	font-size: 12px;
	color: #388FE0;
}
.admpnk {
	font-size: 14px;
	color: #00a7e7;
}
.admpnk1 {
	font-size: 14px;
	color: #00a7e7;
}
div.kc-desc-box	{
	display:block;
	border:1px solid #eaeaea !important;
	color:#444444;
	font-size:13px;
	line-height:16px;
	padding:10px 15px;
	border:none;
}
div.filebox	{
	display:block;
	border:1px solid #eaeaea !important;
	color:#444444;
	font-size:13px;
	line-height:16px;
	padding:10px 15px;
	border:none;
}
.volunteer-child-name,
.volunteer-parent-name {
	font-size: 14px;
	color: #666666;
	text-align: left;
}
div.job-description {
	font-family: "Lato",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #666666;
	text-align: left;
	line-height: 1.42857;
}
div.event-description {
	font-family: "Lato",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #666666;
	text-align: left;
	line-height: 1.42857;
}
p.mid {
	text-align: center;
}
.gry {
	font-family: "Lato",Helvetica,Arial,sans-serif;
	font-size: 11px;
	color: #666666;
}
.gryc {
	font-family: "Lato",Helvetica,Arial,sans-serif;
	font-size: 11px;
	color: #666666;
	text-align: center;
	background-color: #CCCCCC;
}
.kc-tinymce-div {
    border: 1px solid #EAEAEA !important;
}
.kc-tinymce-div .volunteer-note {
    min-width: 50px;
    min-height: 32px;
}
.Mday {
    margin-top: 15px;
}
